<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display and Edit Excel File in Web Page</title>
    <link rel="icon" href="../static/icons/njupt-favicon.ico" type="image/x-icon">
    <!--当部署到云服务器上时,这种巨大的第三方库文件用CDN更快-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@9.0.2/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@9.0.2/dist/handsontable.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/websocket.js" type="module"></script>
    <script src="../static/js/app.js" type="module" defer></script><!--defer属性规定该js代码在HTML文档加载完毕后再执行,避免空指针异常-->
</head>
<body>
    <input type="file" id="file-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    <button id="load-btn">Load Excel</button>
    <button id="edit-btn" disabled>Edit</button>
    <button id="export-btn" disabled>Export</button>
    <button id="save-btn" disabled>Save</button>
    <div id="hot"></div>
    <a href="/websocket">WebSocket Page</a>
    <a href="/file-list">File List</a>
    <br/>
    <form >
        <label for="textInput">Enter Text:</label>
        <input type="text" id="textInput" name="textInput">
        <button type="button" id="send-btn">Send</button>
    </form>
</body>
</html>
